# -----------------------------
# Python / Flask
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
instance/
*.sqlite3
*.db
*.log

# Flask specific
*.egg-info/
dist/
build/

# -----------------------------
# Node / React
# -----------------------------
node_modules/
npm-debug.log*
yarn-error.log*
build/
.env

# -----------------------------
# OS / IDE
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
